Source: tarantool-auth
Priority: optional
Section: database
Maintainer: Denis Linnik <lindeni@mail.ru>
Build-Depends: debhelper (>= 9),
               tarantool-dev (>= 1.7.2.0)
Standards-Version: 3.9.6
Homepage: https://github.com/mailru/tarantool-auth
Vcs-Git: git:/github.com/mailru/tarantool-auth.git
Vcs-Browser: https://github.com/mailru/tarantool-auth

Package: tarantool-auth
Architecture: all
Depends: tarantool (>= 1.6.8.0),
         tarantool-curl (>= 2.2.7.1), ${misc:Depends}
Description: Auth module
