Source: tarantool-auth
Priority: optional
Section: database
Maintainer: Denis Linnik <lindeni@mail.ru>
Build-Depends: debhelper (>= 9),
               tarantool-dev (>= 1.6.8.0)

Standards-Version: 3.9.6
Homepage: https://github.com/LinnikD/tarantool-auth
Vcs-Git: git:/github.com/LinnikD/tarantool-auth.git
Vcs-Browser: https://github.com/LinnikD/tarantool-auth

Package: tarantool-auth
Architecture: all
Depends: tarantool (>= 1.7.0.0), ${misc:Depends}
Description: Auth module
